@import "../../components/slider/slider.css";
@import "./variables.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background-color: var(--background);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background: #eee;
  border: 1px solid #ddd;
}
