.custom-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4%; /* Adjust the distance from the bottom of the slider */
  left: 42%;
  width: 100%; /* Ensure the dots span the full width of the slider */
  padding: 0;
  list-style: none;
  flex-wrap: nowrap;
  z-index: 10; /* Ensure dots are above the slider content */
}

@media (max-width: 768px) {
  .custom-dots {
    left: 30%;
  }
}
.custom-dots li {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 10px;
  cursor: pointer;
}

.custom-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16px;
  height: 16px;
  padding: 6px;
  cursor: pointer;
  border: 0;
  outline: none;
  background: transparent;
}

.custom-dots li button:before {
  font-size: 42px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  content: "•";
  text-align: center;
  color: var(--secondary); /* Customize the default color */
  opacity: 0.5;
  transition: opacity 0.3s;
}

.custom-dots li.slick-active button:before {
  color: var(--primary); /* Customize the active dot color */
  font-size: 48px;
  opacity: 1;
}

.image-slider1 {
  background-image: url("../../public/beekeeper.jpg");
}

.image-slider2 {
  background-image: url("../../public/beehive.jpg");
}

.image-slider3 {
  background-image: url("../../public/bee.jpg");
}

.slick-slide {
  border: 1px solid var(--primary) !important;
}
